# ls
alias la='ls -Alh'
alias ll='ls -l'
alias cd..='cd ..'

# vim > vi
alias vi='vim'

# git
alias gs="git s"

# rails
alias bx='bundle exec'

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# kubernetes
alias kc=kubectl
