# ls
alias ll='ls -l'
alias la='ls -la'
alias cd..='cd ..'

# vim > vi
alias vi='vim'

# git
alias branch='git rev-parse --abbrev-ref HEAD'
alias gd='git diff'
alias gs='git status'
alias ga='git add'

# rails
alias bx='bundle exec'
alias rt='bx ruby -I.:test'

# kubernetes
alias kc=kubectl
