[user]
	name = Adam Becevello
	email = adam@becevello.ca
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[push]
	default = current
[pull]
	default = current
[diff]
	algorithm = patience
[protocol]
	version = 2
[credential]
	helper = osxkeychain

[includeIf "gitdir:~/src/github.com/shopify/"]
    path = ~/.shopify.gitconfig