[alias]
	defaultbranch = "!f() { git remote show origin | sed -n '/HEAD branch/s/.*: //p'; }; f"
	cleanup = "!f() { git branch --merged ${1-`git defaultbranch`} | grep -v ${1-`git defaultbranch`} | xargs -r git branch -d; }; f"
	st = status
	amend = commit --amend --no-edit
	nuke = "!f() { git reset HEAD --hard && git clean -fd; }; f"
	uncommit = reset --soft HEAD^
	aliases = config --get-regexp ^alias\\.
	new-branch = "!f() { git checkout -b ${1}; }; f"
	co = checkout
	main = checkout main
	delete = "!f() { git branch -D ${1}; }; f"
	p = pull
	l = log
	pop = stash pop
	a = add --all --verbose .
	please = push --force-with-lease
	empty = commit --allow-empty
[user]
	name = Adam Becevello
[color]
	ui = auto
[fetch]
	prune = true
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autostash = true
	autosquash = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main

[include]
	path = ~/.computer.gitconfig
	path = /Users/adambecevello/.config/dev/gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
