[alias]
	defaultbranch = "!f() { git remote show origin | awk '/HEAD branch/ {print $NF}'; }; f"
	cleanup = "!f() { git branch --merged ${1-`git defaultbranch`} | grep -v ${1-`git defaultbranch`} | xargs -r git branch -d; }; f"
	st = status
	amend = commit --amend
	nuke = "!f() { git reset HEAD --hard && git clean -fd; }; f"
	uncommit = reset --soft HEAD^
	aliases = config --get-regexp ^alias\\.
[user]
	name = Adam Becevello
	email = adam@becevello.ca
[color]
	ui = auto
[fetch]
	prune = true
[push]
	default = upstream
[pull]
	rebase = true
[rebase]
	autostash = true
	autosquash = true
[diff]
  colorMoved = zebra
  algorithm = patience
[core]
	commitGraph = true
[gc]
	writeCommitGraph = true
[protocol]
	version = 2

[includeIf "gitdir/i:src/github.com/Shopify/"]
  path = ~/.shopify.gitconfig
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[init]
	defaultBranch = main
